<div class="header" style="position: relative; text-align: center; background-color:rgb(16, 235, 82)">
<h1><b>Grocery Delivery Application</b></h1>
<p><i>We bring the Grocery you want in front of you!!</i></p>
<div style="background-color: lightgoldenrodyellow;">
<marquee style="color: blue;"><i>Choose </i> <b>Better </b> <i>live </i> <b>Better </b><i>Choose </i> <b>Better </b> <i>live </i> <b>Better </b><i>Choose </i> <b>Better </b> <i>live </i> <b>Better </b><i>Choose </i> <b>Better </b> <i>live </i> <b>Better </b><i>Choose </i> <b>Better </b> <i>live </i> <b>Better </b></marquee>
</div>
</div>

<nav class="navbar navbar-dark bg-dark" style="background-color: black; tab-size:0cqmin; ">
    <ol>
        <button id="home" (click)="registerAdmin()" class="btn btn-primary btn-sm" >ADMIN</button>
     <button id="home" (click)="registerUser()" class="btn btn-primary btn-sm">USER</button>
    </ol>
    
</nav>
<!--<table style="margin-top: 200px;" >
    <tr>    
        <button id="home" (click)="registerAdmin()" class="btn btn-primary btn-lg" style="float: right;">ADMIN</button>
    </tr>
    <tr>
        <button id="home" (click)="registerUser()" class="btn btn-primary btn-lg">USER</button>
    </tr>
     
    
</table>-->
<div >
    
<img src="/assets/OIP (1).jpg" width="1100px" height="600px" class="center" style="display:block;margin-left: auto;margin-right: auto;width: 100%;height: 100%;">

</div>



